# Anova

In [2]:
import pandas as pd

In [3]:
df = pd.read_excel('../data/raw/Datos ANOVA.xlsx', sheet_name='2 muestras')
df

            A          B          C          D
0    7.812879   9.891582  10.729205  12.740045
1   11.257424   7.963551  13.661446  15.207213
2    9.014213  13.424725  12.725742  12.387790
3   11.829722  12.324688  10.262301  14.920527
4   11.595219  10.081451  10.371643  11.967285
..        ...        ...        ...        ...
95  11.066250   6.870426  10.723792  10.223828
96  10.309279   9.546483  10.128971  14.068704
97  10.282212  10.535206   9.630486  13.492524
98  12.296537   9.629698  14.646585  11.018784
99   9.560395   9.651177   9.885808   8.549432

[100 rows x 4 columns]

In [6]:
# Calculando los p-values

from scipy.stats import ttest_ind

# Calculando con un nivel de significancia de 0.05
n_confianza = 0.95


#Columna A vs B
AB = ttest_ind(df['A'], df['B'], equal_var=False).pvalue
print("El p-value de la comparación entre las columnas A y B es: ", AB)

#Columna A vs C
AC = ttest_ind(df['A'], df['C'], equal_var=False).pvalue
print("El p-value de la comparación entre las columnas A y C es: ", AC)

#Columna A vs D
AD = ttest_ind(df['A'], df['D'], equal_var=False).pvalue
print("El p-value de la comparación entre las columnas A y D es: ", AD)

#Columna B vs C
BC = ttest_ind(df['B'], df['C'], equal_var=False).pvalue
print("El p-value de la comparación entre las columnas B y C es: ", BC)

#Columna B vs D
BD = ttest_ind(df['B'], df['D'], equal_var=False).pvalue
print("El p-value de la comparación entre las columnas B y D es: ", BD)

#Columna C vs D
CD = ttest_ind(df['C'], df['D'], equal_var=False).pvalue
print("El p-value de la comparación entre las columnas C y D es: ", CD)

El p-value de la comparación entre las columnas A y B es:  0.07587087870633652
El p-value de la comparación entre las columnas A y C es:  0.013778691522799372
El p-value de la comparación entre las columnas A y D es:  3.1495329653254536e-09
El p-value de la comparación entre las columnas B y C es:  0.42686441826985155
El p-value de la comparación entre las columnas B y D es:  2.273957916911187e-05
El p-value de la comparación entre las columnas C y D es:  0.0011417140843014626

In [3]:
df = pd.read_excel('../data/raw/Datos ANOVA.xlsx', sheet_name='Ejercicio 11')
df

    Marca de Spray  Efectividad (%)
0                1               72
1                1               65
2                1               67
3                1               75
4                1               62
5                1               73
6                2               55
7                2               59
8                2               68
9                2               70
10               2               53
11               2               50
12               3               64
13               3               74
14               3               61
15               3               58
16               3               51
17               3               69

#### a) Formulación de la hipótesis y modelo estadístico

#### H0 :μ1 = μ2 =μ3
#### H1 : Al menos un μ es diferente

In [25]:
import statsmodels.api as sm
from statsmodels.formula.api import ols

#Agregando todos los registros en donde se presente 1 en la columna Marca de Spray en un nuevo dataframe
df1 = df[df['Marca de Spray'] == 1]
#Agregando todos los registros en donde se presente 2 en la columna Marca de Spray en un nuevo dataframe
df2 = df[df['Marca de Spray'] == 2]
#Agregando todos los registros en donde se presente 3 en la columna Marca de Spray en un nuevo dataframe
df3 = df[df['Marca de Spray'] == 3]


# Generando ANOVA
model = ols(, data=df).fit()
anova_table = sm.stats.anova_lm(model, typ=2)
anova_table

SyntaxError: invalid syntax (<unknown>, line 1)